<div class="card border-secondary w-100 text-light mb-3" style="background-color: #333f48">
    <h5 style="background-color: #bf5700;" class="card-header">Predicted Analysis</h5>
    <div class="card-body">
        <div class="table-responsive">
            <form action='/' method='POST' id="searchData">
                <table class="table text-light text-end table-borderless bordered inputTable">
                    <thead>
                        <tr class='text-center bordered'>
                            <th></th>
                            <th class="bordered" scope="col">CHW
                                <span class='units'>[tonhr]</span>
                            </th>
                            <th class="bordered" scope="col">ELE
                                <span class='units'>[kWh]</span>
                            </th>
                            <th class="bordered" scope="col">STM
                                <span class='units'>[lb]</span>
                            </th>
                            <th class="bordered" scope="col">HHW
                                <span class='units'>[mmbtu]</span>
                            </th>
                            <th class="bordered" scope="col">GAS
                                <span class='units'>[CCF]</span>
                            </th>
                            <th class="bordered" scope="col">WTR
                                <span class='units'>[kgal]</span>
                            </th>
                            <th class="bordered" scope="col">Peak CHW
                                <span class='units'>[ton]</span>
                            </th>
                            <th class="bordered" scope="col">Labor
                                <span class='units'>[Hours]</span>
                            </th>
                            <th class="bordered" scope="col">Total
                                <span class='units'>&nbsp;</span>
                            </th>
                            <th class="bordered" scope="col">Miscellaneous
                                <span class='units'>[$]</span>
                            </th>
                            <th class="bordered" scope="col">Annual Cash Flow
                                <span class='units'>[$]</span>
                            </th>
                            <th class="bordered" scope="col">Payback
                                <span class='units'>[years]</span>
                            </th>
                            <th class="bordered" scope="col">NPV
                                <span class='units'>[$]</span>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class='text-center'>
                            <th class='bordered' style="width: 100px">Predicted</th>
                            <td class='bordered commas' id='numPredCHW'>
                                {{#each savingsPred}}
                                {{#ifEquals commodity 'CHW'}}
                                {{value}}
                                {{/ifEquals}}
                                {{/each}}
                            </td>
                            <td class='bordered commas' id='numPredELE'>
                                {{#each savingsPred}}
                                {{#ifEquals commodity 'ELE'}}
                                {{value}}
                                {{/ifEquals}}
                                {{/each}}
                            </td>
                            <td class='bordered commas' id='numPredSTM'>
                                {{#each savingsPred}}
                                {{#ifEquals commodity 'STM'}}
                                {{value}}
                                {{/ifEquals}}
                                {{/each}}
                            </td>
                            <td class='bordered commas' id='numPredHHW'>
                                {{#each savingsPred}}
                                {{#ifEquals commodity 'HHW'}}
                                {{value}}
                                {{/ifEquals}}
                                {{/each}}
                            </td>
                            <td class='bordered commas' id='numPredGAS'>
                                {{#each savingsPred}}
                                {{#ifEquals commodity 'GAS'}}
                                {{value}}
                                {{/ifEquals}}
                                {{/each}}
                            </td>
                            <td class='bordered commas' id='numPredWTR'>
                                {{#each savingsPred}}
                                {{#ifEquals commodity 'WTR'}}
                                {{value}}
                                {{/ifEquals}}
                                {{/each}}
                            </td>
                            <td class='bordered commas' id='numPredPeakCHW'>
                                {{#each savingsPred}}
                                {{#ifEquals commodity 'Peak CHW'}}
                                {{value}}
                                {{/ifEquals}}
                                {{/each}}
                            </td>
                            <td class='bordered commas' id='numPredLabor'>
                                {{#each savingsPred}}
                                {{#ifEquals commodity 'Labor'}}
                                {{value}}
                                {{/ifEquals}}
                                {{/each}}
                            </td>
                        </tr>
                        <tr class='text-center'>
                            <td class='borderTop'></td>
                            <td class='borderTop'>
                                {{#with metadata}}
                                <button id="addPredCHW" type="button" data-comm-name="CHW" name="CHW"
                                    class="btn btn-success addPredicted">
                                    <i class="fas fa-plus-circle"></i>
                                </button>
                                <button style="display: none" id={{id}} data-comm-name="CHW" name="CHW"
                                    class="btn btn-warning editPredicted showPredBtn mb-3">
                                    <i class="fas fa-edit"></i>
                                </button>
                                <span class="units"><button style="display: none" id={{id}} data-comm-name="CHW"
                                        name="CHW" class="btn btn-danger deletePredicted showPredBtn">
                                        <i class="fas fa-trash-alt"></i>
                                </span>
                                </button>
                                {{/with}}
                                {{#each savingsPred}}
                                {{#ifEquals commodity "CHW"}}
                                <button id={{id}} data-comm-name="CHW" name="CHW"
                                    class="btn btn-warning editPredicted mb-3">
                                    <i class="fas fa-edit"></i>
                                </button>
                                <span class="units"><button id={{id}} name="CHW" class="btn btn-danger deletePredicted">
                                        <i class="fas fa-trash-alt"></i>
                                    </button></span>
                                {{/ifEquals}}
                                {{/each}}
                            </td>
                            <td class='borderTop'>
                                {{#with metadata}}
                                <button id="addPredELE" type="button" data-comm-name="ELE" name="ELE"
                                    class="btn btn-success addPredicted">
                                    <i class="fas fa-plus-circle"></i>
                                </button>
                                <button style="display: none" id={{id}} data-comm-name="ELE" name="ELE"
                                    class="btn btn-warning editPredicted showPredBtn mb-3">
                                    <i class="fas fa-edit"></i>
                                </button>
                                <span class="units"><button style="display: none" id={{id}} data-comm-name="ELE"
                                        name="ELE" class="btn btn-danger deletePredicted showPredBtn">
                                        <i class="fas fa-trash-alt"></i>
                                </span>
                                </button>
                                {{/with}}
                                {{#each savingsPred}}
                                {{#ifEquals commodity "ELE"}}
                                <button id={{id}} data-comm-name="ELE" name="ELE"
                                    class="btn btn-warning editPredicted mb-3">
                                    <i class="fas fa-edit"></i>
                                </button>
                                <span class="units"><button id={{id}} name="ELE" class="btn btn-danger deletePredicted">
                                        <i class="fas fa-trash-alt"></i>
                                    </button></span>
                                {{/ifEquals}}
                                {{/each}}
                            </td>
                            <td class='borderTop'>
                                {{#with metadata}}
                                <button id="addPredSTM" type="button" data-comm-name="STM" name="STM"
                                    class="btn btn-success addPredicted">
                                    <i class="fas fa-plus-circle"></i>
                                </button>
                                <button style="display: none" id={{id}} data-comm-name="STM" name="STM"
                                    class="btn btn-warning editPredicted showPredBtn mb-3">
                                    <i class="fas fa-edit"></i>
                                </button>
                                <span class="units"><button style="display: none" id={{id}} data-comm-name="STM"
                                        name="STM" class="btn btn-danger deletePredicted showPredBtn">
                                        <i class="fas fa-trash-alt"></i>
                                </span>
                                </button>
                                {{/with}}
                                {{#each savingsPred}}
                                {{#ifEquals commodity "STM"}}
                                <button id={{id}} data-comm-name="STM" name="STM"
                                    class="btn btn-warning editPredicted mb-3">
                                    <i class="fas fa-edit"></i>
                                </button>
                                <span class="units"><button id={{id}} name="STM" class="btn btn-danger deletePredicted">
                                        <i class="fas fa-trash-alt"></i>
                                    </button></span>
                                {{/ifEquals}}
                                {{/each}}
                            </td>
                            <td class='borderTop'>
                                {{#with metadata}}
                                <button id="addPredHHW" type="button" data-comm-name="HHW" name="HHW"
                                    class="btn btn-success addPredicted">
                                    <i class="fas fa-plus-circle"></i>
                                </button>
                                <button style="display: none" id={{id}} data-comm-name="HHW" name="HHW"
                                    class="btn btn-warning editPredicted showPredBtn mb-3">
                                    <i class="fas fa-edit"></i>
                                </button>
                                <span class="units"><button style="display: none" id={{id}} data-comm-name="HHW"
                                        name="HHW" class="btn btn-danger deletePredicted showPredBtn">
                                        <i class="fas fa-trash-alt"></i>
                                </span>
                                </button>
                                {{/with}}
                                {{#each savingsPred}}
                                {{#ifEquals commodity "HHW"}}
                                <button id={{id}} data-comm-name="HHW" name="HHW"
                                    class="btn btn-warning editPredicted mb-3">
                                    <i class="fas fa-edit"></i>
                                </button>
                                <span class="units"><button id={{id}} name="HHW" class="btn btn-danger deletePredicted">
                                        <i class="fas fa-trash-alt"></i>
                                    </button></span>
                                {{/ifEquals}}
                                {{/each}}
                            </td>
                            <td class='borderTop'>
                                {{#with metadata}}
                                <button id="addPredGAS" type="button" data-comm-name="GAS" name="GAS"
                                    class="btn btn-success addPredicted">
                                    <i class="fas fa-plus-circle"></i>
                                </button>
                                <button style="display: none" id={{id}} data-comm-name="GAS" name="GAS"
                                    class="btn btn-warning editPredicted showPredBtn mb-3">
                                    <i class="fas fa-edit"></i>
                                </button>
                                <span class="units"><button style="display: none" id={{id}} data-comm-name="GAS"
                                        name="GAS" class="btn btn-danger deletePredicted showPredBtn">
                                        <i class="fas fa-trash-alt"></i>
                                </span>
                                </button>
                                {{/with}}
                                {{#each savingsPred}}
                                {{#ifEquals commodity "GAS"}}
                                <button id={{id}} data-comm-name="GAS" name="GAS"
                                    class="btn btn-warning editPredicted mb-3">
                                    <i class="fas fa-edit"></i>
                                </button>
                                <span class="units"><button id={{id}} name="GAS" class="btn btn-danger deletePredicted">
                                        <i class="fas fa-trash-alt"></i>
                                    </button></span>
                                {{/ifEquals}}
                                {{/each}}
                            </td>
                            <td class='borderTop'>
                                {{#with metadata}}
                                <button id="addPredWTR" type="button" data-comm-name="WTR" name="WTR"
                                    class="btn btn-success addPredicted">
                                    <i class="fas fa-plus-circle"></i>
                                </button>
                                <button style="display: none" id={{id}} data-comm-name="WTR" name="WTR"
                                    class="btn btn-warning editPredicted showPredBtn mb-3">
                                    <i class="fas fa-edit"></i>
                                </button>
                                <span class="units"><button style="display: none" id={{id}} data-comm-name="WTR"
                                        name="WTR" class="btn btn-danger deletePredicted showPredBtn">
                                        <i class="fas fa-trash-alt"></i>
                                </span>
                                </button>
                                {{/with}}
                                {{#each savingsPred}}
                                {{#ifEquals commodity "WTR"}}
                                <button id={{id}} data-comm-name="WTR" name="WTR"
                                    class="btn btn-warning editPredicted mb-3">
                                    <i class="fas fa-edit"></i>
                                </button>
                                <span class="units"><button id={{id}} name="WTR" class="btn btn-danger deletePredicted">
                                        <i class="fas fa-trash-alt"></i>
                                    </button></span>
                                {{/ifEquals}}
                                {{/each}}
                            </td>
                            <td class='borderTop'>
                                {{#with metadata}}
                                <button id="addPredPeakCHW" type="button" data-comm-name="Peak CHW" name="PeakCHW"
                                    class="btn btn-success addPredicted">
                                    <i class="fas fa-plus-circle"></i>
                                </button>
                                <button style="display: none" id={{id}} data-comm-name="Peak CHW" name="PeakCHW"
                                    class="btn btn-warning editPredicted showPredBtn mb-3">
                                    <i class="fas fa-edit"></i>
                                </button>
                                <span class="units"><button style="display: none" id={{id}} data-comm-name="Peak CHW"
                                        name="PeakCHW" class="btn btn-danger deletePredicted showPredBtn">
                                        <i class="fas fa-trash-alt"></i>
                                </span>
                                </button>
                                {{/with}}
                                {{#each savingsPred}}
                                {{#ifEquals commodity "Peak CHW"}}
                                <button id={{id}} data-comm-name="Peak CHW" name="PeakCHW"
                                    class="btn btn-warning editPredicted mb-3">
                                    <i class="fas fa-edit"></i>
                                </button>
                                <span class="units"><button id={{id}} name="PeakCHW"
                                        class="btn btn-danger deletePredicted">
                                        <i class="fas fa-trash-alt"></i>
                                    </button></span>
                                {{/ifEquals}}
                                {{/each}}
                            </td>
                            <td class='borderTop'>
                                {{#with metadata}}
                                <button id="addPredLabor" type="button" data-comm-name="Labor" name="Labor"
                                    class="btn btn-success addPredicted">
                                    <i class="fas fa-plus-circle"></i>
                                </button>
                                <button style="display: none" id={{id}} data-comm-name="Labor" name="Labor"
                                    class="btn btn-warning editPredicted showPredBtn mb-3">
                                    <i class="fas fa-edit"></i>
                                </button>
                                <span class="units"><button style="display: none" id={{id}} data-comm-name="Labor"
                                        name="Labor" class="btn btn-danger deletePredicted showPredBtn">
                                        <i class="fas fa-trash-alt"></i>
                                </span>
                                </button>
                                {{/with}}
                                {{#each savingsPred}}
                                {{#ifEquals commodity "Labor"}}
                                <button id={{id}} data-comm-name="Labor" name="Labor"
                                    class="btn btn-warning editPredicted mb-3">
                                    <i class="fas fa-edit"></i>
                                </button>
                                <span class="units"><button id={{id}} name="Labor"
                                        class="btn btn-danger deletePredicted">
                                        <i class="fas fa-trash-alt"></i>
                                    </button></span>
                                {{/ifEquals}}
                                {{/each}}
                            </td>
                        </tr>
                        <tr>
                            <th class="bordered" scope="row">%</th>
                            <td class="bordered percent">
                                {{#each percentEach}}
                                {{#ifEqualsTwo commodity 'CHW' phase 'Predicted'}}
                                {{savings_percent}}
                                {{/ifEqualsTwo}}
                                {{/each}}
                            </td>
                            <td class="bordered percent">
                                {{#each percentEach}}
                                {{#ifEqualsTwo commodity 'ELE' phase 'Predicted'}}
                                {{savings_percent}}
                                {{/ifEqualsTwo}}
                                {{/each}}
                            </td>
                            <td class="bordered percent">
                                {{#each percentEach}}
                                {{#ifEqualsTwo commodity 'STM' phase 'Predicted'}}
                                {{savings_percent}}
                                {{/ifEqualsTwo}}
                                {{/each}}
                            </td>
                            <td class="bordered percent">
                                {{#each percentEach}}
                                {{#ifEqualsTwo commodity 'HHW' phase 'Predicted'}}
                                {{savings_percent}}
                                {{/ifEqualsTwo}}
                                {{/each}}
                            </td>
                            <td class="bordered percent">
                                {{#each percentEach}}
                                {{#ifEqualsTwo commodity 'GAS' phase 'Predicted'}}
                                {{savings_percent}}
                                {{/ifEqualsTwo}}
                                {{/each}}
                            </td>
                            <td class="bordered percent">
                                {{#each percentEach}}
                                {{#ifEqualsTwo commodity 'WTR' phase 'Predicted'}}
                                {{savings_percent}}
                                {{/ifEqualsTwo}}
                                {{/each}}
                            </td>
                            <td class="bordered percent">
                                {{#each percentEach}}
                                {{#ifEqualsTwo commodity 'Peak CHW' phase 'Predicted'}}
                                {{savings_percent}}
                                {{/ifEqualsTwo}}
                                {{/each}}
                            </td>
                            <td class="bordered percent">
                                {{#each percentEach}}
                                {{#ifEqualsTwo commodity 'Labor' phase 'Predicted'}}
                                {{savings_percent}}
                                {{/ifEqualsTwo}}
                                {{/each}}
                            </td>
                            <td class="percent bordered">
                                {{#each percentTotal}}
                                {{#ifEquals phase 'Predicted'}}
                                {{percent_total}}
                                {{/ifEquals}}
                                {{/each}}
                            </td>
                        </tr>
                        <tr>
                            <th class="bordered" scope="row">Plant Gas
                                <span class='units'>[mmbtu]</span>
                            </th>
                            <td class="bordered whole">
                                {{#each plantEach}}
                                {{#ifEqualsThree commodity 'CHW' plant_commodity 'Plant gas' phase 'Predicted'}}
                                {{plant_savings}}
                                {{/ifEqualsThree}}
                                {{/each}}
                            </td>
                            <td class="bordered whole">
                                {{#each plantEach}}
                                {{#ifEqualsThree commodity 'ELE' plant_commodity 'Plant gas' phase 'Predicted'}}
                                {{plant_savings}}
                                {{/ifEqualsThree}}
                                {{/each}}
                            </td>
                            <td class="bordered whole">
                                {{#each plantEach}}
                                {{#ifEqualsThree commodity 'STM' plant_commodity 'Plant gas' phase 'Predicted'}}
                                {{plant_savings}}
                                {{/ifEqualsThree}}
                                {{/each}}
                            </td>
                            <td class="bordered whole">
                                {{#each plantEach}}
                                {{#ifEqualsThree commodity 'HHW' plant_commodity 'Plant gas' phase 'Predicted'}}
                                {{plant_savings}}
                                {{/ifEqualsThree}}
                                {{/each}}
                            </td>
                            <td class="borderTop"></td>
                            <td class="borderTop"></td>
                            <td class="borderTop"></td>
                            <td class="borderTop"></td>
                            <td class="whole bordered">
                                {{#each plantTotal}}
                                {{#ifEquals phase 'Predicted'}}
                                {{plant_savings_sum}}
                                {{/ifEquals}}
                                {{/each}}
                            </td>
                        </tr>
                        <tr>
                            <th class="bordered" scope="row">CTWater
                                <span class="units">[kgal]</span>
                            </th>
                            <td class="bordered whole">
                                {{#each plantEach}}
                                {{#ifEqualsThree commodity 'CHW' plant_commodity 'CT water' phase 'Predicted'}}
                                {{plant_savings}}
                                {{/ifEqualsThree}}
                                {{/each}}
                            </td>
                            <td class="borderTop"></td>
                            <td class="borderTop"></td>
                            <td class="borderTop"></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td class="bordered whole">
                                {{#each plantEach}}
                                {{#ifEqualsThree commodity 'CHW' plant_commodity 'CT water' phase 'Predicted'}}
                                {{plant_savings}}
                                {{/ifEqualsThree}}
                                {{/each}}
                            </td>
                        </tr>
                        <tr>
                            <th class="bordered" scope="row">UEM</th>
                            <td class="bordered whole_dollar">
                                {{#each commSavings}}
                                {{#ifEqualsThree commodity 'CHW' entity 'UEM' phase 'Predicted'}}
                                {{fb_plus_fr}}
                                {{/ifEqualsThree}}
                                {{/each}}
                            </td>
                            <td class="bordered whole_dollar">
                                {{#each commSavings}}
                                {{#ifEqualsThree commodity 'ELE' entity 'UEM' phase 'Predicted'}}
                                {{fb_plus_fr}}
                                {{/ifEqualsThree}}
                                {{/each}}
                            </td>
                            <td class="bordered whole_dollar">
                                {{#each commSavings}}
                                {{#ifEqualsThree commodity 'STM' entity 'UEM' phase 'Predicted'}}
                                {{fb_plus_fr}}
                                {{/ifEqualsThree}}
                                {{/each}}
                            </td>
                            <td class="bordered whole_dollar">
                                {{#each commSavings}}
                                {{#ifEqualsThree commodity 'HHW' entity 'UEM' phase 'Predicted'}}
                                {{fb_plus_fr}}
                                {{/ifEqualsThree}}
                                {{/each}}
                            </td>
                            <td class="bordered whole_dollar">
                                {{#each commSavings}}
                                {{#ifEqualsThree commodity 'GAS' entity 'UEM' phase 'Predicted'}}
                                {{fb_plus_fr}}
                                {{/ifEqualsThree}}
                                {{/each}}
                            </td>
                            <td class="bordered whole_dollar">
                                {{#each commSavings}}
                                {{#ifEqualsThree commodity 'WTR' entity 'UEM' phase 'Predicted'}}
                                {{fb_plus_fr}}
                                {{/ifEqualsThree}}
                                {{/each}}
                            </td>
                            <td></td>
                            <td class="bordered whole_dollar">
                                {{#each commSavings}}
                                {{#ifEqualsThree commodity 'Labor' entity 'UEM' phase 'Predicted'}}
                                {{fb_plus_fr}}
                                {{/ifEqualsThree}}
                                {{/each}}
                            </td>
                            <td class='whole_dollar bordered'>
                                {{#each commSavingsTotal}}
                                {{#ifEqualsTwo entity 'UEM' phase 'Predicted'}}
                                {{fb_fr_total}}
                                {{/ifEqualsTwo}}
                                {{/each}}
                            </td>
                            <td class='whole_dollar bordered'>
                                {{#each misc}}
                                {{#ifEqualsTwo entity 'UEM' phase 'Predicted'}}
                                {{misc_savings}}
                                {{/ifEqualsTwo}}
                                {{/each}}
                            </td>
                            <td class='whole_dollar bordered'>
                                {{#each financialAnalysis}}
                                {{#ifEqualsTwo entity 'UEM' phase 'Predicted'}}
                                {{cash_flow}}
                                {{/ifEqualsTwo}}
                                {{/each}}
                            </td>
                            <td class='years bordered'>
                                {{#each financialAnalysis}}
                                {{#ifEqualsTwo entity 'UEM' phase 'Predicted'}}
                                {{payback}}
                                {{/ifEqualsTwo}}
                                {{/each}}
                            </td>
                            <td class='whole_dollar bordered'>
                                {{#each financialAnalysis}}
                                {{#ifEqualsTwo entity 'UEM' phase 'Predicted'}}
                                {{npv}}
                                {{/ifEqualsTwo}}
                                {{/each}}
                            </td>
                        </tr>
                        <tr>
                            <th class="bordered" scope="row">UT</th>
                           <td class="bordered whole_dollar">
                                {{#each commSavings}}
                                {{#ifEqualsThree commodity 'CHW' entity 'Univ' phase 'Predicted'}}
                                {{fb_plus_fr}}
                                {{/ifEqualsThree}}
                                {{/each}}
                            </td>
                            <td class="bordered whole_dollar">
                                {{#each commSavings}}
                                {{#ifEqualsThree commodity 'ELE' entity 'Univ' phase 'Predicted'}}
                                {{fb_plus_fr}}
                                {{/ifEqualsThree}}
                                {{/each}}
                            </td>
                            <td class="bordered whole_dollar">
                                {{#each commSavings}}
                                {{#ifEqualsThree commodity 'STM' entity 'Univ' phase 'Predicted'}}
                                {{fb_plus_fr}}
                                {{/ifEqualsThree}}
                                {{/each}}
                            </td>
                            <td class="bordered whole_dollar">
                                {{#each commSavings}}
                                {{#ifEqualsThree commodity 'HHW' entity 'Univ' phase 'Predicted'}}
                                {{fb_plus_fr}}
                                {{/ifEqualsThree}}
                                {{/each}}
                            </td>
                            <td class="bordered whole_dollar">
                                {{#each commSavings}}
                                {{#ifEqualsThree commodity 'GAS' entity 'Univ' phase 'Predicted'}}
                                {{fb_plus_fr}}
                                {{/ifEqualsThree}}
                                {{/each}}
                            </td>
                            <td class="bordered whole_dollar">
                                {{#each commSavings}}
                                {{#ifEqualsThree commodity 'WTR' entity 'Univ' phase 'Predicted'}}
                                {{fb_plus_fr}}
                                {{/ifEqualsThree}}
                                {{/each}}
                            </td>
                            <td></td>
                            <td class="bordered whole_dollar">
                                {{#each commSavings}}
                                {{#ifEqualsThree commodity 'Labor' entity 'Univ' phase 'Predicted'}}
                                {{fb_plus_fr}}
                                {{/ifEqualsThree}}
                                {{/each}}
                            </td>
                            <td class='whole_dollar bordered'>
                                {{#each commSavingsTotal}}
                                {{#ifEqualsTwo entity 'Univ' phase 'Predicted'}}
                                {{fb_fr_total}}
                                {{/ifEqualsTwo}}
                                {{/each}}
                            </td>
                            <td class='whole_dollar bordered'>
                                {{#each misc}}
                                {{#ifEqualsTwo entity 'Univ' phase 'Predicted'}}
                                {{misc_savings}}
                                {{/ifEqualsTwo}}
                                {{/each}}
                            </td>
                            <td class='whole_dollar bordered'>
                                {{#each financialAnalysis}}
                                {{#ifEqualsTwo entity 'Univ' phase 'Predicted'}}
                                {{cash_flow}}
                                {{/ifEqualsTwo}}
                                {{/each}}
                            </td>
                            <td class='years bordered'>
                                {{#each financialAnalysis}}
                                {{#ifEqualsTwo entity 'Univ' phase 'Predicted'}}
                                {{payback}}
                                {{/ifEqualsTwo}}
                                {{/each}}
                            </td>
                            <td class='whole_dollar bordered'>
                                {{#each financialAnalysis}}
                                {{#ifEqualsTwo entity 'Univ' phase 'Predicted'}}
                                {{npv}}
                                {{/ifEqualsTwo}}
                                {{/each}}
                            </td>
                        </tr>
                        <tr>
                            <th class="bordered" scope="row">AUX</th>
                            <td class="bordered whole_dollar">
                                {{#each commSavings}}
                                {{#ifEqualsThree commodity 'CHW' entity 'AUX' phase 'Predicted'}}
                                {{fb_plus_fr}}
                                {{/ifEqualsThree}}
                                {{/each}}
                            </td>
                            <td class="bordered whole_dollar">
                                {{#each commSavings}}
                                {{#ifEqualsThree commodity 'ELE' entity 'AUX' phase 'Predicted'}}
                                {{fb_plus_fr}}
                                {{/ifEqualsThree}}
                                {{/each}}
                            </td>
                            <td class="bordered whole_dollar">
                                {{#each commSavings}}
                                {{#ifEqualsThree commodity 'STM' entity 'AUX' phase 'Predicted'}}
                                {{fb_plus_fr}}
                                {{/ifEqualsThree}}
                                {{/each}}
                            </td>
                            <td class="bordered whole_dollar">
                                {{#each commSavings}}
                                {{#ifEqualsThree commodity 'HHW' entity 'AUX' phase 'Predicted'}}
                                {{fb_plus_fr}}
                                {{/ifEqualsThree}}
                                {{/each}}
                            </td>
                            <td class="bordered whole_dollar">
                                {{#each commSavings}}
                                {{#ifEqualsThree commodity 'GAS' entity 'AUX' phase 'Predicted'}}
                                {{fb_plus_fr}}
                                {{/ifEqualsThree}}
                                {{/each}}
                            </td>
                            <td class="bordered whole_dollar">
                                {{#each commSavings}}
                                {{#ifEqualsThree commodity 'WTR' entity 'AUX' phase 'Predicted'}}
                                {{fb_plus_fr}}
                                {{/ifEqualsThree}}
                                {{/each}}
                            </td>
                            <td></td>
                            <td class="bordered whole_dollar">
                                {{#each commSavings}}
                                {{#ifEqualsThree commodity 'Labor' entity 'AUX' phase 'Predicted'}}
                                {{fb_plus_fr}}
                                {{/ifEqualsThree}}
                                {{/each}}
                            </td>
                            <td class='whole_dollar bordered'>
                                {{#each commSavingsTotal}}
                                {{#ifEqualsTwo entity 'AUX' phase 'Predicted'}}
                                {{fb_fr_total}}
                                {{/ifEqualsTwo}}
                                {{/each}}
                            </td>
                            <td class='whole_dollar bordered'>
                                {{#each misc}}
                                {{#ifEqualsTwo entity 'AUX' phase 'Predicted'}}
                                {{misc_savings}}
                                {{/ifEqualsTwo}}
                                {{/each}}
                            </td>
                            <td class='whole_dollar bordered'>
                                {{#each financialAnalysis}}
                                {{#ifEqualsTwo entity 'AUX' phase 'Predicted'}}
                                {{cash_flow}}
                                {{/ifEqualsTwo}}
                                {{/each}}
                            </td>
                            <td class='years bordered'>
                                {{#each financialAnalysis}}
                                {{#ifEqualsTwo entity 'AUX' phase 'Predicted'}}
                                {{payback}}
                                {{/ifEqualsTwo}}
                                {{/each}}
                            </td>
                            <td class='whole_dollar bordered'>
                                {{#each financialAnalysis}}
                                {{#ifEqualsTwo entity 'AUX' phase 'Predicted'}}
                                {{npv}}
                                {{/ifEqualsTwo}}
                                {{/each}}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </form>
        </div>
    </div>
</div>