<div class="input-group">
    <button id="filterOptions" class="btn btn-outline-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
        aria-expanded="false">Filter By:</button>
    <ul class="dropdown-menu dropdown-menu-dark">
        <li><button id='allBtn' type='button' class="dropdown-item">All</button></li>
        <li>
            <hr class="dropdown-divider">
        </li>
        <li><button disabled type='button' class="dropdown-item">Project ID by Staff Lead</button></li>
        <li><button id='adamBtn' type='button' class="dropdown-item">Adam Keeling</button></li>
        <li><button id='amandaBtn' type='button' class="dropdown-item">Amanda Berens</button></li>
        <li><button id='buddyBtn' type='button' class="dropdown-item">Buddy Bishop</button></li>
        <li><button id='cedricBtn' type='button' class="dropdown-item">Cedric Bouey</button></li>
        <li><button id='daveBtn' type='button' class="dropdown-item">Dave Cooper</button></li>
        <li><button id='graceBtn' type='button' class="dropdown-item">Grace Hsieh</button></li>
        <li><button id='johnBtn' type='button' class="dropdown-item">John Milton</button></li>
        <li><button id='mattBtn' type='button' class="dropdown-item">Matt Stevens</button></li>
        <li><button id='meaganBtn' type='button' class="dropdown-item">Meagan Jones</button></li>
        <li><button id='patBtn' type='button' class="dropdown-item">Pat Mazur</button></li>
        <li><button id='richardBtn' type='button' class="dropdown-item">Richard Shearman</button></li>
        <li><button id='travisBtn' type='button' class="dropdown-item">Travis Isakson</button></li>
    </ul>
    <select name="project_id" class="form-select" id="search" aria-label="Example select with button addon">
        <option selected disabled>Project ID</option>
        {{#each projectId}}
        <option class="all" name="All">{{project_id}}</option>
        {{/each}}
        {{#each staffLead}}
        {{#ifEquals staff_lead 'Adam Keeling'}}
        <option class='adam' name='Adam' style='display: none'>{{project_id}}</option>
        {{/ifEquals}}
        {{/each}}
        {{#each staffLead}}
        {{#ifEquals staff_lead 'Amanda Berens'}}
        <option class='amanda' name="Amanda" style='display: none'>{{project_id}}</option>
        {{/ifEquals}}
        {{/each}}
        {{#each staffLead}}
        {{#ifEquals staff_lead 'Buddy Bishop'}}
        <option class='buddy' name="Buddy" style='display: none'>{{project_id}}</option>
        {{/ifEquals}}
        {{/each}}
        {{#each staffLead}}
        {{#ifEquals staff_lead 'Cedric Bouey'}}
        <option class='cedric' name="Cedric" style='display: none'>{{project_id}}</option>
        {{/ifEquals}}
        {{/each}}
        {{#each staffLead}}
        {{#ifEquals staff_lead 'Dave Cooper'}}
        <option class='dave' name="Dave" style='display: none'>{{project_id}}</option>
        {{/ifEquals}}
        {{/each}}
        {{#each staffLead}}
        {{#ifEquals staff_lead 'Grace Hsieh'}}
        <option class='grace' name="Grace" style='display: none'>{{project_id}}</option>
        {{/ifEquals}}
        {{/each}}
        {{#each staffLead}}
        {{#ifEquals staff_lead 'John Milton'}}
        <option class='john' name="John" style='display: none'>{{project_id}}</option>
        {{/ifEquals}}
        {{/each}}
        {{#each staffLead}}
        {{#ifEquals staff_lead 'Matt Stevens'}}
        <option class='matt' name="Matt" style='display: none'>{{project_id}}</option>
        {{/ifEquals}}
        {{/each}}
        {{#each staffLead}}
        {{#ifEquals staff_lead 'Meagan Jones'}}
        <option class='meagan' name="Meagan" style='display: none'>{{project_id}}</option>
        {{/ifEquals}}
        {{/each}}
        {{#each staffLead}}
        {{#ifEquals staff_lead 'Pat Mazur'}}
        <option class='pat' name="Pat" style='display: none'>{{project_id}}</option>
        {{/ifEquals}}
        {{/each}}
        {{#each staffLead}}
        {{#ifEquals staff_lead 'Richard Shearman'}}
        <option class='richard' name='Richard' style='display: none'>{{project_id}}</option>
        {{/ifEquals}}
        {{/each}}
        {{#each staffLead}}
        {{#ifEquals staff_lead 'Travis Isakson'}}
        <option class='travis' name='Travis' style='display: none'>{{project_id}}</option>
        {{/ifEquals}}
        {{/each}}
    </select>
    <button class="btn btn-success load" type="submit">Search</button>
</div>