<div class="container d-flex align-items-center justify-content-center" style="min-height: 80vh;">
    <form action='/login' id="loginData" method="POST">
        <div class="card border-secondary text-light" style="background-color: #333f48">
            <h5 style="background-color: #bf5700;" class="card-header">Login</h5>
            <div class="card-body w-100 text-end mt-3">
                {{#if error}}
                <div class="mb-3 text-start" style="color:red; font-size: 20px">
                    <p>{{error}}</p>
                </div>
                {{/if}}
                {{#each success}}
                <div class="mb-3 text-center" style="font-size: 20px">
                    <p style="color: green">{{text}}</a></p>
                </div>
                {{/each}}
                <div class="row mb-3">
                    <label for="inputEmail3" class="col-sm-2 col-form-label">Email:</label>
                    <div class="col-sm-10">
                        <input type="email" class="form-control" name="email" id="inputEmail3">
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="inputPassword3" class="col-sm-2 col-form-label">Password:</label>
                    <div class="col-sm-10">
                        <input type="password" class="form-control" name="password" id="inputPassword3">
                    </div>
                </div>
                <button type="submit" class="btn btn-success mb-2">Log In</button>
                <div class="card-footer text-center">
                    Don't have an account? <a href="/register">Sign Up</a>
                    <br>
                    Forgot Password? <a href="/reset">Reset</a>
                </div>
            </div>
        </div>
    </form>
</div>